<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>URL Shortener</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous" />
    </head>
    <body class="bg-secondary-subtle">
        <div class="container mt-5">
            <h2 class="display-5">URL Shortener</h2>
            <form action="/" method="POST">
                <div class="mb-3 mt-4">
                    <label for="longUrl" class="form-label lead"
                        >Enter long URL:</label
                    >
                    <input
                        placeholder="https://example.com"
                        type="text"
                        name="longUrl"
                        id="longUrl"
                        required
                        class="form-control border border-dark" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <% if (locals.shortId) { %>
            <p class="leadm mt-3">
                URL Generated:
                <a href="http://localhost:8080/<%= shortId %>" target="_blank"
                    >http://localhost:8080/<%= shortId %></a
                >
            </p>
            <% } %>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    </body>
</html>

